<ion-content>
  <div class="container">
    <div class="sidebar">
      <h2>Querido Cliente, ¿qué desea hacer?</h2>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Editar Perfil</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cambiar Contraseña</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Ver Productos</ion-label>
        </ion-item>
        <!-- Las opciones específicas del admin se muestran siempre -->
        <ion-item lines="none">
          <ion-label>Visualizar Clientes</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Agregar Producto</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Eliminar Producto</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Actualizar Producto</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Habilitar/Deshabilitar Clientes</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>